# Add any non-service units required by gpuagent here
[Unit]
Description=AMD GPU Prometheus Exporter Service
Wants=gpuagent.service
After=gpuagent.service

[Service]
User=root
Group=root
Restart=on-failure
RestartSec=10

Type=simple

# If we need to start anything before gpuagent, use this
ExecStartPre=/bin/sleep 5
# update-alternative has been run for gpuagent and
# soft link will be available in usr/bin
ExecStart=/usr/local/bin/amd-metrics-exporter

# If we need to start anything after gpuagent use this
# ExecStartPost=

# If we want to change the default time out for the ExecStop (90 sec),
# we can modify that time limit with TimeoutStopSec
# TimeoutStopSec=

# Note, we can have multiple ExecStop commands if necessary
ExecStop=/bin/kill -15 $MAINPID
#ExecReload=
#ExecStartPost=
#ExecStopPost=

# StandardOutput=journal
# StandardError=inherit

[Install]
WantedBy= multi-user.target
