[submodule "libamdsmi"]
    path = libamdsmi
    url = https://github.com/ROCm/amdsmi.git
    branch = amd-mainline
[submodule "gpuagent"]
    path = gpuagent
    url = git@github.com:ROCm/gpu-agent.git
    branch = main
