.venv
.vscode
build

# documentation artifacts
_build/
_images/
_static/
_templates/
_toc.yml
docBin/
_doxygen/
_readthedocs/

# avoid duplicating contributing.md due to conf.py
docs/CHANGELOG.md

# build artifacts
*.log
.cache
*.tgz
*.tar.gz
*.tar
bin
pkg/bin
pkg/slurm/sim/slurm-sim
